.Footer {
  @apply bg-base-BLOCK;

  padding: 52px 52px 28px 52px;
}

.Footer__Head {
  @apply flex flex-col items-center justify-center;

  row-gap: 12px;
}

.Footer__Head .Footer__Logo {
  @apply  object-cover;

  width: 120px;
  height: 120px;
}

.Footer__Head .Footer__Copy {
  @apply font-bold;

  font-size: 8px;
}

.Footer .Footer__NavList {
  @apply flex flex-col items-center text-center;

  row-gap: 32px;
  padding: 40px 0 32px
}

.Footer .Footer__NavList .Footer__Item {
  @apply font-bold;

  font-size: 12px;
}

.Footer .Footer__Bottom {
  @apply flex flex-col items-center text-center border-t border-t-inialumGray-500 max-w-[732px] mx-auto;

  padding: 28px 0 0;
  row-gap: 16px;
}

.Footer .Footer__Bottom .Footer__Item--top {
  @apply flex items-center justify-center;

  padding: 0 0 12px;
}

.Footer .Footer__Bottom .Footer__Item--small {
  @apply flex items-center justify-center text-inialumGray-500;

  column-gap: 20px;
  font-size: 8px;
}
