---
import Layout from '../layouts/Layout.astro'

import { Button } from '@/components/basic/Button/Button'
---

<Layout title="INIALUM">
  <main>
    <h1>This is INIALUM</h1>
    <Button>Push!</Button>
  </main>
</Layout>

<style>
  main {
    color: #221716;
    padding: 16px 8px;
  }
</style>
