---
import { ButtonLink } from '@inialum/memories-react'

import { Image } from 'astro:assets'
import iniadHub1Image from '../assets/images/top/iniad_hub_1.png'
import iniadSakuraImage from '../assets/images/top/iniad_sakura.jpg'
import HeadingText from '../components/common/HeadingText/HeadingText.astro'
import Layout from '../layouts/Layout.astro'
import { INIALUM_ENTRY_FORM_LINK } from '../constants/links'
---

<Layout title="INIAD同窓会「INIALUM」">
	<main class="text-base-black">
		<div
			class="h-720 md:h-848 relative after:absolute after:inset-0 after:w-full after:h-full after:z-10 after:bg-linear-to-b after:from-transparent after:to-[rgba(0,0,0,0.54)]"
		>
			<Image
				src={iniadSakuraImage}
				alt=""
				class="object-cover w-full h-full relative"
				quality="medium"
			/>
			<div
				class="absolute left-0 right-0 bottom-0 flex flex-col items-center justify-center z-20 mx-auto max-w-470 px-10 pb-16"
			>
				<div class="flex flex-col w-full text-base-white pb-8 text-[22px]">
					<div>さらなる<span class="px-[1px] text-[38px]">連携</span>を、</div>
					<div class="text-end">
						ともに歩んだ<span class="px-[1px] text-[38px]">仲間</span>と
					</div>
				</div>
				<ButtonLink
					href={INIALUM_ENTRY_FORM_LINK}
					size="fullWidth"
					className="font-bold"
				>
					入会する
				</ButtonLink>
			</div>
		</div>
		<div class="flex justify-center bg-primary pt-8 pr-8">
			<Image
				src={iniadHub1Image}
				alt="INIAD Hub-1"
				class="object-cover w-full sm:w-800 sm:h-413"
				quality="medium"
			/>
		</div>
		<section
			class="flex flex-col items-start justify-center mx-auto max-w-470 md:max-w-580 gap-y-14 text-sm py-42 px-20"
		>
			<div>
				<HeadingText text="Vision" />
				<p class="font-bold break-keep pt-6 text-[22px] leading-[1.7]">
					ともに歩んだ仲間と、<wbr />
					さらなる連携をつくる
				</p>
			</div>
			<div>
				<HeadingText text="Mission" />
				<p class="font-bold break-keep pt-6 text-[18px] leading-[1.7]">
					INIAD卒業生のつながりをつくり、<wbr />
					世界で活躍する足がかりを築く
				</p>
			</div>
			<div class="flex flex-col break-keep gap-y-7 leading-loose">
				<p>
					INIAD同窓会「INIALUM」は、<wbr />唯一のINIAD公認の同窓会組織です。
				</p>
				<p>
					私たちは、INIAD卒業生と在学生全員をつなぎ、<wbr
					/>世界で活躍する支援をします。
				</p>
			</div>
			<ButtonLink href="/vision" radius="moreRounded">more...</ButtonLink>
		</section>
	</main>
</Layout>
