---
import { ButtonLink } from '@inialum/memories-react'
import { Image } from 'astro:assets'

import { INIALUM_ENTRY_FORM_LINK } from '@/constants/links'

import iniadHub1Image from '@/assets/images/top/iniad_hub_1.png'
import iniadSakuraImage from '@/assets/images/top/iniad_sakura.jpg'
import HeadingText from '@/components/common/HeadingText.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="INIAD同窓会「INIALUM」">
  <main class="main">
    <div class="headline">
      <Image
        src={iniadSakuraImage}
        alt=""
        class="headline-image"
        quality="medium"
      />
      <div class="headline-content">
        <div class="headline-copy">
          <div>さらなる<span class="headline-copy-strong">連携</span>を、</div>
          <div class="headline-copy-text-2">
            ともに歩んだ<span class="headline-copy-strong">仲間</span>と
          </div>
        </div>
        <ButtonLink
          href={INIALUM_ENTRY_FORM_LINK}
          size="fullWidth"
        >
          入会する
        </ButtonLink>
      </div>
    </div>
    <div class="campus-image-wrapper">
      <Image
        src={iniadHub1Image}
        alt="INIAD Hub-1"
        class="campus-image"
        quality="medium"
      />
    </div>
    <section class="about-us">
      <div>
        <HeadingText text="Vision" />
        <p class="vision-text">
          ともに歩んだ仲間と、<wbr />
          さらなる連携をつくる
        </p>
      </div>
      <div>
        <HeadingText text="Mission" />
        <p class="mission-text">
          INIAD卒業生のつながりをつくり、<wbr />
          世界で活躍する足がかりを築く
        </p>
      </div>
      <div class="message">
        <p>
          INIAD同窓会「INIALUM」は、<wbr />唯一のINIAD公認の同窓会組織です。
        </p>
        <p>
          私たちは、INIAD卒業生と在学生全員をつなぎ、<wbr
          />世界で活躍する支援をします。
        </p>
      </div>
      <!--
      <ButtonLink href="/about" radius="more-rounded">more...</ButtonLink>
       -->
    </section>
  </main>
</Layout>

<style>
  .headline {
    @apply h-[720px] md:h-[848px] relative;
  }

  .headline::after {
    @apply absolute inset-0	w-full h-full z-10;

    content: '';
    background: linear-gradient(
      180deg,
      transparent 0%,
      rgba(0, 0, 0, 0.54) 100%
    );
  }

  .headline-image {
    @apply object-cover	w-full h-full relative;
  }

  .headline-content {
    @apply absolute left-0 right-0 bottom-0 flex flex-col items-center justify-center z-20 mx-auto;

    max-width: 470px;
    padding: 0 40px 64px;
  }

  .headline-copy {
    @apply flex flex-col w-full text-base-WHITE;

    padding: 0 0 32px;
    font-size: 22px;
  }

  .headline-copy-strong {
    padding: 0 1px;
    font-size: 38px;
  }

  .headline-copy-text-2 {
    @apply text-end;
  }

  .main {
    @apply text-base-BLACK;
  }

  .campus-image-wrapper {
    @apply flex justify-center bg-primary;

    padding: 32px 32px 0 0;
  }

  .campus-image {
    @apply object-cover	w-full sm:w-[800px] sm:h-[413px];
  }

  .about-us {
    @apply flex flex-col items-start justify-center mx-auto max-w-[470px] md:max-w-[580px];

    row-gap: 56px;
    font-size: 14px;
    padding: 42px 20px;
  }

  .vision-text {
    @apply font-bold break-keep;

    padding-top: 24px;
    font-size: 22px;
    line-height: 1.7;
  }

  .mission-text {
    @apply font-bold break-keep;

    padding-top: 24px;
    font-size: 18px;
    line-height: 1.7;
  }

  .message {
    @apply flex flex-col break-keep;

    row-gap: 28px;
    line-height: 2;
  }
</style>
