.main {
  @apply text-base-BLACK;
}

.headline {
  @apply h-[720px] md:h-[848px] relative;

  &::after {
    @apply absolute inset-0 w-full h-full z-10;

    content: '';
    background: linear-gradient(
      180deg,
      transparent 0%,
      rgba(0, 0, 0, 0.54) 100%
    );
  }
}

.headlineImage {
  @apply object-cover w-full h-full relative;
}

.headlineContent {
  @apply absolute left-0 right-0 bottom-0 flex flex-col items-center justify-center z-20 mx-auto;

  max-width: 470px;
  padding: 0 40px 64px;
}

.headlineCopy {
  @apply flex flex-col w-full text-base-WHITE font-bold;

  font-size: 32px;

  @media (640px <= width) {
    font-size: 56px;
  }
}

.headlineCopyText2 {
  @apply text-end;
}

.entryFromLinkButton {
  @apply font-bold;
}

.campusImageWrapper {
  @apply flex justify-center bg-primary;

  padding: 32px 32px 0 0;
}

.campusImage {
  @apply object-cover	w-full sm:w-[800px] sm:h-[413px];
}

.aboutUs {
  @apply flex flex-col items-start justify-center mx-auto max-w-[470px] md:max-w-[580px];

  row-gap: 56px;
  font-size: 14px;
  padding: 42px 20px;
}

.visionText {
  @apply font-bold break-keep;

  padding-top: 24px;
  font-size: 22px;
  line-height: 1.7;
}

.missionText {
  @apply font-bold break-keep;

  padding-top: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.message {
  @apply flex flex-col break-keep;

  row-gap: 28px;
  line-height: 2;
}
