---
import { Image } from 'astro:assets'
import iniadWallImage from '../../assets/images/other/iniad_wall.jpg'
import HeadingText from '../../components/common/HeadingText/HeadingText.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="私たちの思い | INIAD同窓会「INIALUM」">
	<main class="text-base-black">
		<div
			class="h-720 md:h-848 relative after:absolute after:inset-0 after:w-full after:h-full after:z-10 after:bg-linear-to-b after:from-transparent after:to-[rgba(0,0,0,0.54)]"
		>
			<Image
				src={iniadWallImage}
				alt=""
				class="object-cover w-full h-full relative"
				quality="medium"
			/>
			<div
				class="absolute left-0 right-0 bottom-0 flex flex-col items-center justify-center z-20 mx-auto max-w-470 px-10 pb-16"
			>
				<div
					class="flex flex-col w-full text-base-white font-bold text-[32px] sm:text-[56px]"
				>
					私たちの思い
				</div>
			</div>
		</div>
		<section
			class="flex flex-col items-start justify-center gap-y-56 px-20 py-64 mx-auto max-w-470 md:max-w-580 text-[14px]"
		>
			<div>
				<HeadingText text="Vision" />
				<p class="font-bold break-keep pt-24 text-[22px] leading-[1.7]">
					ともに歩んだ仲間と、<wbr />
					さらなる連携をつくる
				</p>
			</div>
			<div>
				<HeadingText text="Mission" />
				<p class="font-bold break-keep pt-24 text-lg leading-[1.7]">
					INIAD卒業生のつながりをつくり、<wbr />
					世界で活躍する足がかりを築く
				</p>
			</div>
			<div>
				<HeadingText text="Values" />
				<p>
					<div class="font-bold break-keep pt-24 text-[22px] leading-[1.7]">
						つながりをつくる
					</div>
					卒業生同士のつながりを維持しさらに発展させる<br />
					INIADとの接点を持ち続けられるようにする<br />
					卒業生と在学生のつながりをつくる
				</p>
				<p class="value-text">
					<div class="font-bold break-keep pt-24 text-[22px] leading-[1.7]">
						みえるようにする
					</div>
					卒業生を在学生から可視化し、<wbr />
					在学生のロールモデルをつくる<br />
					卒業生がINIADの現状を知れるようにする
				</p>
				<p class="value-text">
					<div class="font-bold break-keep pt-24 text-[22px] leading-[1.7]">
						キャリアを支援する
					</div>
					卒業生にキャリアを求められる場所を提供する<br />
					INIAD在学生がキャリアにおいて、<wbr />
					卒業生とつながれるようにする
				</p>
				<p class="value-text">
					<div class="font-bold break-keep pt-24 text-[22px] leading-[1.7]">
						活動を支援する
					</div>
					卒業生の仲間集めを助ける<br />
					卒業生の経験をINIADに還元する
				</p>
			</div>
			<div class="flex flex-col break-keep gap-y-7 leading-loose">
				<HeadingText text="About" />
				<p>
					INIAD同窓会「INIALUM」は、<wbr />
					唯一のINIAD公認の同窓会組織です。
				</p>
				<p>「さらなる連携を、ともに歩んだ仲間と」</p>
				<p>
					INIALUMは、INIADでともに学んだ仲間達が<br />
					卒業後も連携を絶やさず、<wbr />
					社会を歩んでいく足がかりとなります。
				</p>
				<p>
					私たちは、INIAD卒業生と在学生全員をつなぎ、<br />
					世界で活躍する支援をします。
				</p>
			</div>
			<div class="flex flex-col break-keep gap-y-7 leading-loose">
				<HeadingText text="Profile" />
				<p>
					INIAD同窓会「INIALUM」<br />
					(正式名称: 東洋大学赤羽台キャンパスINIAD同窓会「INIALUM」)
				</p>
				<p>Email: contact@inialum.org</p>
			</div>
		</section>
	</main>
</Layout>
