---
import { Image } from 'astro:assets'

import { INIALUM_ENTRY_FORM_LINK } from '@/constants/links'

import streetImage from '@/assets/images/common/akabanedai_street.png'
import { ButtonLink } from '@/components/basic/ButtonLink/ButtonLink'
---

<div class="bottom-panel">
  <div class="entry-form-panel">
    <div class="entry-form-panel-content">
      <div class="street-image">
        <Image
          src={streetImage}
          alt="INIALUM - INIAD Alumni Meetings"
          quality="low"
        />
      </div>
      <div class="copy">
        <p>さあ、あなたも、ともに歩んだ仲間と</p>
        <p class="copy-second-line">
          もう一度<span class="copy-strong">"連携"</span>しませんか？
        </p>
      </div>
      <div class="entry-form-link">
        <ButtonLink
          href={INIALUM_ENTRY_FORM_LINK}
          colorTheme="white"
          size="fullWidth"
          className="entry-form-link-button"
        >
          入会する
        </ButtonLink>
      </div>
    </div>
  </div>
  <div class="links-panel">
    <ButtonLink
      href="/faq"
      colorTheme="primary"
      styleType="outlined"
      size="fullWidth"
      className="faq-link-button"
    >
      Q&A
    </ButtonLink>
    <ButtonLink
      href="/contact"
      colorTheme="primary"
      styleType="outlined"
      size="fullWidth"
      className="contact-link-button"
    >
      お問い合わせ
    </ButtonLink>
  </div>
</div>
<style>
  .bottom-panel {
    @apply flex flex-col w-full;
  }

  .entry-form-panel {
    @apply bg-primary w-full;

    padding: 68px 0 32px;
  }

  .entry-form-panel-content {
    @apply flex flex-col mx-auto;

    max-width: 470px;
  }

  .street-image {
    @apply flex justify-end min-[470px]:justify-center;

    padding: 0 0 72px;
  }

  .copy {
    @apply flex flex-col text-white;

    row-gap: 24px;
    padding: 0 36px 64px;
  }

  @media (470px <= width) {
    .copy {
      padding: 0 56px 64px;
    }
  }

  .copy-second-line {
    @apply text-end;
  }

  .copy-strong {
    @apply text-2xl;

    padding: 0 4px;
  }

  .entry-form-link {
    padding: 0 52px;
  }

  .entry-form-link-button {
    @apply font-bold;
  }

  .links-panel {
    @apply flex flex-col w-full mx-auto;

    row-gap: 24px;
    padding: 72px 52px;
    max-width: 470px;
  }

  .faq-link-button,
  .contact-link-button {
    @apply font-bold;
  }
</style>
