---
import { Image } from 'astro:assets'

import logoImage from '@/assets/logo/inialum_logo_light_transparent@3x.png'
---

<header class="header">
  <div class="header-logo">
    <Image src={logoImage} alt="INIALUM（INIAD同窓会） Logo" />
  </div>
</header>
<style>
  .header {
    @apply bg-primary w-full relative;

    height: 60px;
  }

  .header-logo {
    @apply flex items-center justify-center w-[160px] h-[160px] md:w-[200px] md:h-[200px] bg-base-WHITE absolute z-30;
  }
</style>
