---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="heading">{text}</div>
<style>
  .heading {
    @apply font-bold text-base-BLACK border-b-4 border-solid border-primary w-fit;

    font-size: 12px;
  }
</style>
