---
import { Footer } from '@/components/basic/Footer/Footer'
import BottomPanel from '@/components/common/BottomPanel.astro'
import '@/styles/tailwind.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="INIAD Alumni Meetings" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <BottomPanel />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
  }

  html {
    font-family: 'BIZ UDPGothic', sans-serif;
  }
</style>
